{% load static %}
<html>
<!-- CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<!-- jQuery and JS bundle w/ Popper.js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

<style>
    .information{
        font-size: 20px;
    }

    .movepad{
        padding: 20px 20px;
        text-align: center;
    }
</style>
    

<head>
    <meta charset="utf-8">
    <p style="font-size:30px">Crownbuster</p>
    
    <body class="container">
        <div class="row">
            <div class="col-sm-8" style="">
                <p style="font-size:20px">Last Move: </p>
                <p style="font-size:20px">Cure to win: </p>
                <p class="information">Current coordinate: </p>
                <p class="information">Coughs: </p>
                <p class="information" style="color:green">Infected: </p>
                <p class="information">Music Sound: </p>
                <p class="information" style="color:red">Party House: </p>
                <p class="information">Medical Scent: </p>
                <p class="information" style="color:blue">Vaccine: </p>
                <p class="information"><b>Safe Spots: </b></p>
            </div>
            <div class="col-sm-4" style="">
                <p style="font-size:25px;">Buttons</p>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-4" style=""></div>
                    <div class="col-sm-4" style="">
                        <button type="button" class="btn btn-primary btn-block movepad" style="">UP</button>
                    </div>
                    <div class="col-sm-4" style=""></div>
                </div>
                <div class="row">
                    <div class="col-sm-4" style="">
                        <button type="button" class="btn btn-primary btn-block movepad">LEFT</button>
                    </div>
                    <div class="col-sm-4" style=""></div>
                    <div class="col-sm-4" style="">
                        <button type="button" class="btn btn-primary btn-block movepad">RIGHT</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4" style=""></div>
                    <div class="col-sm-4" style="">
                        <button type="button" class="btn btn-primary btn-block movepad">DOWN</button>
                    </div>
                    <div class="col-sm-4" style=""></div>
                </div>
            </div>
        </div>
    </body>
    
